{% extends 'base.html.twig' %}
{% block body %}
    <h1>List of notes</h1>
    {% for note in notes %}
        <p>
            <span {% if note.finished %}style="text-decoration: line-through"{% endif %}>{{ note.name }}</span>
        </p>
    {% endfor %}
{% endblock %}
